.version.index /* version checker */
{
	color: #0000E8;
	background-color: #389B93;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2801px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #592316;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u75
{
	z-index: 2;
	height: 2356px;
	bottom: 0px;
}

#u75-bw
{
	z-index: 2;
}

#u299
{
	z-index: 11;
	min-height: 715.85px;
	padding-bottom: 0px;
	background: transparent url("../images/fettshrimp2.jpg") no-repeat center top;
	background-size: cover;
}

#u299_position_content
{
	margin-top: -3px;
	padding-bottom: 3px;
}

#home
{
	left: 79px;
	position: relative;
}

#u455
{
	z-index: 130;
	width: 524px;
	background-color: transparent;
	left: 318px;
	margin-top: 117px;
	position: relative;
}

#aboutus
{
	left: 66px;
	margin-top: 144px;
	position: relative;
}

#u299-bw
{
	z-index: 11;
	min-height: 715.85px;
	margin-top: 3px;
}

#pu228
{
	width: 0.01px;
	padding-bottom: 56px;
	margin-left: -100px;
	margin-top: -719px;
}

#u228
{
	z-index: 100;
	height: 56px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #000000;
	position: fixed;
	top: 0px;
}

#u228-bw
{
	z-index: 100;
}

#u226
{
	z-index: 101;
	width: 696px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 28px;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: -336px;
}

#menuu187
{
	z-index: 102;
	width: 174px;
	border-color: #000000;
	background-color: transparent;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: -336px;
}

#u191
{
	width: 174px;
	border-color: #592316;
	background-color: transparent;
	padding-bottom: 4px;
	position: relative;
}

#u191:hover
{
	background-color: #402424;
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u194-4
{
	width: 174px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u191:hover #u194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 174px;
	margin: 0px -10000px 0px 0px;
}

#menuu179
{
	z-index: 109;
	width: 174px;
	border-color: #592316;
	background-color: transparent;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: -162px;
}

#u183
{
	width: 174px;
	border-color: #592316;
	background-color: transparent;
	padding-bottom: 4px;
	position: relative;
}

#u185-4
{
	width: 174px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#menuu210
{
	z-index: 116;
	width: 174px;
	border-color: #592316;
	background-color: transparent;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 12px;
}

#u212
{
	width: 174px;
	border-color: #592316;
	background-color: transparent;
	padding-bottom: 4px;
	position: relative;
}

#u214-4
{
	width: 174px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#menuu218
{
	z-index: 123;
	width: 174px;
	border-color: #592316;
	background-color: transparent;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 186px;
}

#u188,#u180,#u211,#u219
{
	width: 174px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u222
{
	width: 174px;
	border-color: #592316;
	background-color: transparent;
	padding-bottom: 4px;
	position: relative;
}

#u191.MuseMenuActive,#u183.MuseMenuActive,#u212.MuseMenuActive,#u222.MuseMenuActive
{
	background-color: #592316;
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u223-4
{
	width: 174px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u191.MuseMenuActive #u194-4,#u183.MuseMenuActive #u185-4,#u212.MuseMenuActive #u214-4,#u222.MuseMenuActive #u223-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 174px;
	margin: 0px -10000px 0px 0px;
}

#pu285-6
{
	width: 0.01px;
	margin-top: 43px;
}

#u285-6
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u296-9
{
	z-index: 24;
	width: 340px;
	min-height: 353px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 40px;
}

#u296-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u296,#u296-3
{
	font-size: 16px;
	line-height: 19px;
}

#u296-2,#u296-4
{
	line-height: 17px;
}

#u297
{
	z-index: 33;
	width: 960px;
	height: 11px;
	background-color: #271713;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
}

#pamphletu328
{
	z-index: 34;
	width: 0.01px;
	height: 400px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 416px;
}

#u333
{
	z-index: 35;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 355px;
	left: 23px;
}

#u336
{
	position: absolute;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background: #DEDEDE url("../images/fap-09-u336-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u336:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
	background-size: cover;
}

#u334
{
	position: absolute;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	left: 70px;
	background: #C4C4C4 url("../images/foods-wallpaper-u334-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u334:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
	background-size: cover;
}

#u336.PamphletThumbSelected,#u334.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: left top;
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u335
{
	position: absolute;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	left: 140px;
	background: #999999 url("../images/pizza-junk-food-600-u335-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u335:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
	background-size: cover;
}

#u335.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: left top;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
	background-size: cover;
}

#u329
{
	position: absolute;
	width: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u329popup
{
	z-index: 39;
}

#u330
{
	z-index: 40;
	width: 500px;
	height: 346px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/fap-09.jpg") no-repeat left top;
	background-size: cover;
}

#u332
{
	z-index: 41;
	width: 499px;
	height: 345px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-bottom: -1px;
	margin-right: -10000px;
	position: relative;
	background: #C4C4C4 url("../images/foods-wallpaper.jpg") no-repeat left top;
	background-size: cover;
}

#u331
{
	z-index: 42;
	width: 499px;
	height: 345px;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	margin-bottom: -1px;
	margin-right: -10000px;
	position: relative;
	background: #999999 url("../images/pizza-junk-food-600.jpg") no-repeat left top;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u376
{
	z-index: 43;
	min-height: 119px;
	padding-bottom: 6px;
	background: transparent url("../images/pijwrei.jpg") repeat center center;
}

#u299_align_to_page,#u376_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#anchor-u468
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 101px;
	left: 69px;
}

#u376-bw
{
	z-index: 43;
	min-height: 119px;
	margin-top: 23px;
}

#u387-5
{
	z-index: 19;
	display: block;
	vertical-align: top;
	margin-top: 73px;
	position: relative;
}

#u428
{
	z-index: 99;
	width: 960px;
	height: 11px;
	background-color: #271713;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#pu389-4
{
	width: 0.01px;
	margin-top: 27px;
}

#u389-4
{
	z-index: 45;
	width: 230px;
	min-height: 4px;
	background-color: transparent;
	line-height: 42px;
	color: #FFFFFF;
	font-size: 35px;
	text-align: center;
	font-family: leckerli-one, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u390-4
{
	z-index: 49;
	width: 230px;
	min-height: 4px;
	background-color: transparent;
	line-height: 42px;
	color: #FFFFFF;
	font-size: 35px;
	text-align: center;
	font-family: leckerli-one, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#u391-4
{
	z-index: 53;
	width: 230px;
	min-height: 4px;
	background-color: transparent;
	line-height: 42px;
	color: #FFFFFF;
	font-size: 35px;
	text-align: center;
	font-family: leckerli-one, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 730px;
}

#ppu393
{
	width: 0.01px;
	margin-top: 16px;
}

#pu393
{
	z-index: 57;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#pu394-13
{
	width: 0.01px;
	position: relative;
	left: 12px;
	padding-top: 20px;
	z-index: 2;
	padding-bottom: 15px;
}

#u394-13
{
	z-index: 60;
	width: 208px;
	min-height: 158px;
	background-color: transparent;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 25px;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#pu397
{
	z-index: 58;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 365px;
}

#pu395-13
{
	width: 0.01px;
	position: relative;
	left: 11px;
	padding-top: 19px;
	z-index: 2;
	padding-bottom: 17px;
}

#u395-13
{
	z-index: 73;
	width: 208px;
	min-height: 158px;
	background-color: transparent;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 25px;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#pu398
{
	z-index: 59;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 730px;
}

#u393,#u397,#u398
{
	z-index: 0;
	width: 230px;
	border-color: #271713;
	background-color: #000000;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu396-13
{
	width: 0.01px;
	position: relative;
	left: 10px;
	padding-top: 18px;
	z-index: 2;
	padding-bottom: 15px;
}

#u396-13
{
	z-index: 86;
	width: 208px;
	min-height: 161px;
	background-color: transparent;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 25px;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u394-11,#u395-11,#u396-11
{
	counter-reset: list0;
}

#u394-11 > li:before,#u395-11 > li:before,#u396-11 > li:before
{
	counter-increment: list0;
	content:  counter(list0, upper-roman) '.';
}

#u394-11 .list1,#u395-11 .list1,#u396-11 .list1
{
	counter-reset: list1;
}

#u394-11 .list1 > li:before,#u395-11 .list1 > li:before,#u396-11 .list1 > li:before
{
	counter-increment: list1;
	content:  counter(list1, lower-alpha) '.';
}

#u394-11 .list2,#u395-11 .list2,#u396-11 .list2
{
	counter-reset: list2;
}

#u394-11 .list2 > li:before,#u395-11 .list2 > li:before,#u396-11 .list2 > li:before
{
	counter-increment: list2;
	content:  counter(list2, lower-roman) '.';
}

#u394-11 .list3,#u395-11 .list3,#u396-11 .list3
{
	counter-reset: list3;
}

#u394-11 .list3 > li:before,#u395-11 .list3 > li:before,#u396-11 .list3 > li:before
{
	counter-increment: list3;
	content:  counter(list3, decimal) '.';
}

#u394-11 .list4,#u395-11 .list4,#u396-11 .list4
{
	counter-reset: list4;
}

#u394-11 .list4 > li:before,#u395-11 .list4 > li:before,#u396-11 .list4 > li:before
{
	counter-increment: list4;
	content:  counter(list4, lower-alpha) '.';
}

#u394-11 .list5,#u395-11 .list5,#u396-11 .list5
{
	counter-reset: list5;
}

#u394-11 .list5 > li:before,#u395-11 .list5 > li:before,#u396-11 .list5 > li:before
{
	counter-increment: list5;
	content:  counter(list5, lower-roman) '.';
}

#u394-11 .list6,#u395-11 .list6,#u396-11 .list6
{
	counter-reset: list6;
}

#u394-11 .list6 > li:before,#u395-11 .list6 > li:before,#u396-11 .list6 > li:before
{
	counter-increment: list6;
	content:  counter(list6, decimal) '.';
}

#u394-11 .list7,#u395-11 .list7,#u396-11 .list7
{
	counter-reset: list7;
}

#u394-11 .list7 > li:before,#u395-11 .list7 > li:before,#u396-11 .list7 > li:before
{
	counter-increment: list7;
	content:  counter(list7, lower-alpha) '.';
}

#u394-11 .list8,#u395-11 .list8,#u396-11 .list8
{
	counter-reset: list8;
}

#u394-11 .list8 > li:before,#u395-11 .list8 > li:before,#u396-11 .list8 > li:before
{
	counter-increment: list8;
	content:  counter(list8, lower-roman) '.';
}

#u420
{
	z-index: 44;
	height: 211px;
	background: transparent url("../images/tomatoes-73913_1920.jpg") repeat center center;
}

#u420-bw
{
	z-index: 44;
	margin-top: 98px;
	height: 211px;
}

#u518
{
	z-index: 134;
	width: 500px;
	min-height: 450px;
	border-style: none;
	background-color: transparent;
	margin-left: 230px;
	margin-top: 1px;
	position: relative;
}

#u411
{
	z-index: 3;
	min-height: 176px;
	padding-bottom: 20px;
}

#u411_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u454-7
{
	z-index: 4;
	width: 748px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 128px;
	left: 216px;
}

#u411-bw
{
	z-index: 3;
	min-height: 176px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

